body
{
    margin: 0;
    background-color: rgb(0, 0, 24);
}

.space
{
    position: absolute;
    width: 99.3vw;
    height: 99.3vh;
}

.star-dot
{
    background-color:rgb(143, 143, 0);
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgb(143, 143, 0, 1), 0 0 20px 4px rgba(0, 0, 0, 0);
    z-index: 1;
}

.solar-object
{
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.sun
{
    width: 60px;
    height: 60px;
    background: url('media/sun.png') center center/cover no-repeat;
    left: 50%;
    top: 50%;
    box-shadow: 0 0 10px 10px rgba(230, 96, 0, 0.7);
}

.mercury
{
    width: 10px;
    height: 10px;
    background: url('media/mercury.png') center center/cover no-repeat;
    left: 50%;
    top: 44%;
}


.venus
{
    width: 20px;
    height: 20px;
    background: url('media/venus.png') center center/cover no-repeat;
    left: 50%;
    top: 41%;
}

.earth
{
    width: 21px;
    height: 21px;
    background: url('media/earth.png') center center/cover no-repeat;
    left: 50%;
    top: 37%;
}

.mars
{
    width: 15px;
    height: 15px;
    background: url('media/mars.png') center center/cover no-repeat;
    left: 50%;
    top: 33%;
}

.jupiter
{
    width: 40px;
    height: 40px;
    background: url('media/jupiter.png') center center/cover no-repeat;
    left: 50%;
    top: 25%;
}

.saturn
{
    width: 38px;
    height: 38px;
    background: url('media/saturn.png') center center/cover no-repeat;
    left: 50%;
    top: 19%;
    box-shadow: inset -3px 0 5px rgba(0, 0, 0, 0.3), inset 3px 0 5px rgba(255, 255, 255, 0.3);
}

.saturn::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset -3px 0 10px rgba(0, 0, 0, 0.3), inset 3px 0 10px rgba(255, 255, 255, 0.3);
    z-index: 3;
}

.saturn::after {
    content: "";
    display: block;
    width: 200%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%; 
    clip-path: polygon(0 20%, 100% 20%, 100% 100%, 0 100%);
}
